:root {
  --verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --softred: hsl(14, 88%, 65%);
  --softviolet-bg: hsl(273, 75%, 66%);
  --softblue-bg: hsl(240, 73%, 65%);
  --verydarkgrayishblue-question: hsl(237, 12%, 33%);
  --darkgrayishblue-answer: hsl(240, 6%, 50%);
  --lightgrayishblue-line: hsl(240, 5%, 91%);
  --white-bg-card: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(
    to bottom,
    var(--softviolet-bg) 0%,
    var(--softblue-bg) 100%
  );
}
@media screen and (min-width: 992px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
.faq-card {
  width: 310px;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-bg-card);
  padding-bottom: 2em;
  border: 0;
  border-radius: 2em;
}
@media screen and (min-width: 992px) {
  .faq-card {
    position: relative;
    width: 750px;
    margin: 0;
    padding: 0;
  }
  .faq-card::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-image: url(../images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 8.3rem;
    left: -5rem;
    z-index: 20;
  }
  .row {
    display: flex;
  }
  .column {
    flex-basis: 50%;
  }
}
.img-container {
  display: block;
  position: relative;
  width: 100%;
  height: 6rem;
}
.img-container::after {
  position: absolute;
  content: "";
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  left: 2.2rem;
}
.faq-card__img {
  position: absolute;
  max-width: inherit;
  height: 12rem;
  top: -9.5em;
  left: 9.5%;
  transform: translateX(-50%, 50%);
}
@media screen and (min-width: 992px) {
  .img-container {
    height: 100%;
    overflow: hidden;
  }
  .img-container::after {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: 38rem 40rem;
    background-position: -19rem -11rem;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .faq-card__img {
    width: 23rem;
    height: 18rem;
    transform: unset;
    left: -5rem;
    top: 1.5rem;
    z-index: 10;
  }
}
.faq-card__header {
  width: 100%;
  text-align: center;
  border-radius: 2em 2em 0 0;
}
.faq-card__title {
  margin-bottom: 0;
  font-size: 1.8rem;
}
.faq-card__body {
  padding: 1em 2em;
}
@media screen and (min-width: 992px) {
  .faq-card__header {
    text-align: left;
  }
  .faq-card__title {
    margin-top: 1.85em;
  }
  .faq-card__body {
    width: 80%;
    padding: 2.3em 0 3.6em 0;
  }
}
.faq-list {
  list-style: none;
  padding-left: 0;
}
.faq-list__item {
  color: var(--verydarkgrayishblue-question);
}
.faq-card__content {
  border-bottom: 1px solid var(--lightgrayishblue-line);
}
.faq-card__question {
  position: relative;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.icon-container {
  position: absolute;
  right: 0;
}
.faq-card__answer {
  max-height: 0;
  margin-top: 0.4em;
  color: var(--darkgrayishblue-answer);
  visibility: hidden;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 2em;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}
