:root{
    --cyan:hsl(179, 62%, 43%);
    --lightcyan:hsl(179, 48%, 55%);
    --brightyellow:hsl(71, 73%, 54%);
    --lightgray:hsl(204, 43%, 93%);
    --grayishblue:hsl(218, 22%, 67%);
    --white:hsl(0, 0%, 100%);
}
body{
    margin:0;
    font-family: 'Karla', sans-serif;
    background-color: var(--lightgray);
}
.wrapper{
    display:flex;
    justify-content: center;
}
.card-block{
    padding:1.5em;
    width:280px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
}
.card{
    background-color:var(--white);
    padding:1em 1.2em;
}
.card--cyan{
    background-color: var(--cyan);
}
.card--lightcyan{
    background-color:var(--lightcyan);
}
.card__title{
    font-size: 1rem;
    font-weight: 700;
}
.card__title--cyan{
    color:var(--cyan);
}
.card__title--lightgray{
    color:var(--lightgray);
}
.card__title--white{
    color:var(--white);
}
.card__subtitle{
    font-size: .9rem;
    color:var(--brightyellow);
    font-weight: 700;
}
.card__summary{
    font-size:.75rem;
    line-height: 1.8;
    opacity:50%;    
}
.card__summary--lightgray{
    color:var(--lightgray);
    font-weight: 700;
}
.card__summary--white{
    color:var(--white);
    font-weight: 700;
}
.card__summary--left{
    inline-size:10.2rem;
}
.card__summary--line-space{
    line-height: 1.4;
}
.flex-align{
    display:flex;
    align-items: center;
}
.card__subs{
    margin:0;
    color:var(--lightgray);
    font-size: .9rem;
}
.card__price{ 
    color:var(--white);
    font-size: 1.8rem;
    font-weight: 700;
}
.button{
    display:block;
    width:100%;
    border:0;
    outline:0;
    border-radius:.4em;
    padding:1em 0;
    background-color: var(--brightyellow);
    color:var(--white);
    font-weight: 700;
    box-shadow:0 -2px 10px 2px hsl(179, 58%, 36%),0 3px 5px 1px hsl(179, 58%, 36%);
}
.footer{
    position:fixed;
    width: 100%;
    left:0;
    bottom:0;
    
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution__link{
    color: hsl(228, 45%, 44%);
}