:root{
    --desaturatedred: hsl(0, 36%, 70%);
    --softred: hsl(0, 93%, 68%);
    --darkgrayishred: hsl(0, 6%, 24%);
    --background-gradient:linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}
body{
    margin:0;
    font-size:16px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: var(--background-gradient);
}
.wrapper{
    height: 100%;
}

.notice__header{
    padding:1.5em 1.8em;
}
.logo{
    width:100px;
}
@media screen and (min-width:796px){
    .logo{
        width:150px;
    }
}
@media screen and (min-width:992px){
    .wrapper{
        height:100vh;
    }
    .notice{
        position:relative;
        height: 100vh;
    }
    .notice__header{
        position:absolute;
        width:300px;
        left:8%;
        top:5%;
    }
}
.hero{
    height:280px;
}
@media screen and (min-width:576px){
    .hero{
        height:400px;
    }
}
@media screen and (min-width:796px){
    .hero{
        height:500px;
    }
}

.hero__img{
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width:992px){
    .hero{
        position: absolute;
        width:50%;
        height:100vh;
        right: 0;
    }
    .hero__img{
        object-fit: unset;
    }
}
.notice__body{
    padding:1.5em 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:576px){
    .notice__body{
        width:400px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width:992px){
    .notice__body{
        position:absolute;
        width:400px;
        top:30%;
        left:10%;
        padding:0;
    }
}
.notice__title{
    margin-top:0;
    margin-bottom:.5em;
    text-align: center;
    padding-top:.5em;
}
.title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .38em;
    font-weight: 600;
    opacity:80%;
}
.title__word{
    font-weight: 300;
    color: rgb(219, 188, 188);
}
.notice__text{
    text-align: center;
    color: rgb(219, 188, 188,.98);
    font-size: .9rem;
    margin:0;
    margin-bottom: 1em;
    font-weight: 600;
    line-height: 1.4;
}

@media screen and (min-width:576px){
    .title{
        font-size: 2.8rem;
    }
    .notice__text{
        font-size: 1rem;
    }
}
@media screen and (min-width:992px){
    .notice__title{
        text-align: left;
    }
    .title{
        font-size: 3.5rem;
    }
    .notice__text{
        text-align: left;
        font-size: 1.2rem;
    }
}

.notice__finder{
    margin-bottom: 5em;
}
/***finder component*/
.finder{
    position:relative;
    width:100%;
}
.finder__input{
    position:absolute;
    display: block;
    width: 100%;
    padding:1.1em 0 1.1em 1.2em;
    border-radius: 2em;
    opacity: 50%;
    border:.5px solid rgb(187, 183, 183);
}
.finder__label{
    position: absolute;
    top:0;
    right:0;
    z-index: 10;
}
.icon-container{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 2em;
    padding:.7em 1.5em;
    width: 15px;
    height:25px;
}
.finder__icon{
    width:inherit;
}