@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    /*Primary*/
    --PaleBlue:hsl(225, 100%, 94%);
    --BrightBlue:hsl(245, 75%, 52%);
    /*Neutral*/
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}
html{
    box-sizing:border-box;
   
}
*{
    box-sizing: inherit;
}
body{
    margin:0;
    background-color:var(--PaleBlue);
    font-family: 'Red Hat Display', sans-serif;
}
/*Mobile  width:375px*/ 
.main{
    height:100vh;
    width:20rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.main__inner{
    border-radius: 2rem;
    background-color:var(--VeryPaleBlue);
}
.card{
    display:flex;
    flex-direction:column;
    border:1px solid var(--PaleBlue);
    border-radius:inherit;
    color:var(--DesaturatedBlue);
}
.card__header{
    height:11rem;
    background-image: url("../images/illustration-hero.svg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center left;
    border-radius:20px 20px 0 0 ;
}
.card__body{
    padding:0 1.6rem;
    text-align:center;
    font-size:.9rem;
    font-weight: 500;
}
.card__summary{
    margin-bottom:0;
}
.card__title{
    margin-bottom:.2rem;
    font-weight: 900;
    font-size: 1rem;
    color:var(--DarkBlue);
}
/*section subscription*/
.card__subscription{
    display:flex;
    margin-top:0;
    justify-content:space-around;
    align-items: center;
}
.card__details{
    margin-right:1.5rem;
}
.card__plan{
    font-weight: 700;
    color:var(--DarkBlue);
    margin-top:.5rem;
    margin-bottom:0;

}
.card__price{
    margin-top:.3rem;
    font-size: .8rem;
}
.card__button{
    margin-left:.3rem;
}
.card__link{
    font-size: .8rem;
    font-weight: 700;
    color:var(--BrightBlue);
}
/*section  card footer*/
.card__footer{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:1rem;
}
.button{
    width:85%;
    padding:.4rem;
    text-align:center;
    text-decoration:none;
    font-weight:700;
    font-size:.8rem;
    border-radius:6px;
    color:var(--DesaturatedBlue);
}
.button:hover{
    cursor:pointer;
    background-color:var(--BrightBlue);
    color:var(--VeryPaleBlue);
    font-weight:900;
}
