:root{
    --verydarkgrayishblue:hsl(217, 19%, 35%);
    --desaturateddarkblue: hsl(214, 17%, 51%);
    --grayishblue: hsl(212, 23%, 69%);
    --lightgrayishblue: hsl(210, 46%, 95%);
}
.flex{
    display:flex;
}
body{
    margin:0;
    font-size: 13px;
    font-family: 'Manrope', sans-serif ;
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center; 
    height:100vh;   
}
.card{
    width:320px;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top:2em;
    box-shadow: 1px 2px 8px 1px var(--grayishblue);
    border-radius:1em;
    overflow-X:hidden;    
}
@media screen and (min-width:576px){
    .card{
        width:520px;
        display:flex;
        margin-right: 0;
        overflow-X:visible;
    }
    .column{
        display:flex;
        flex-direction: column;
    }
    .column--right{
        flex-basis: calc( 55% - 1rem);
    }
}
@media screen and (min-width:796px){
    .card{
        width:720px;
    }
}
.container-img{
    width:100%;
    height:180px;
    border-radius:1em 1em 0 0;
}
.card__img{
    width:100%;
    display:block;
    height:inherit;
    object-fit: cover;
    border-radius:1em 1em 0 0;
}
@media screen and (min-width:576px){
    .container-img{
        width:40%;
        height:320px;
    }
    .card__img{
        height:100%;
        border-top-right-radius:0;
    }
}
@media screen and (min-width:796px){
    .container-img{
        width:45%;
        height:280px;
    }
}
.card__body{
    padding:1.6em 2.5em;
}
@media screen and (min-width:576px){
    .card__body{
        padding-right:.5em;
    }
}
.card__title{
    font-size: 1rem;
    color:var(--verydarkgrayishblue);
    margin-top:.4em;
}
.card__text{
    color:var(--grayishblue);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom:0;
}
.profile{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 2.3em;
    padding-bottom:.5em;
}
@media screen and (min-width:576px){
    .profile{
        padding-right:.5em;
    }
}
.profile__photo{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin-right:1em;
}
.profile__name{
    font-size: .8rem;
    inline-size: 8rem;
    margin-left:.2em;
    color:var(--verydarkgrayishblue);
}
.profile__date{
    color:var(--grayishblue);
    font-weight: 500;
}
.profile__icon-share{
    position:absolute;
    z-index:2;
    right:1rem;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color:var(--lightgrayishblue) ;
    padding:.6em;
    margin-right: 1em;
}
@media screen and (min-width:576px){
    .profile__icon-share{
        right:0;
        margin-right:0;
    }
}
@media screen and (min-width:796px){
    .profile__icon-share{
        right:.8em;
    }
}
.social-icons{
    width:100%;
    position:absolute;
    background-color:var(--verydarkgrayishblue);
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em; 
    align-items: center;
    height:4.4rem;
    left:0;
    bottom:0;
    transform: translateX(110%);
    transition:transform .2s ease-in-out;
}

@media screen and (min-width:576px){
    .social-icons{
        border-radius:1em;
        transform: unset;
        left:5rem;
        bottom:5.2rem;
        z-index:10;
        height:2.8rem;
        width:15.6rem;
        visibility: hidden;
    }
    .social-icons::after{
        content:"";
        position:absolute;
        width:15px;
        height:15px;
        bottom:-8px;
        left:66%;
        background-color:var(--verydarkgrayishblue);
        transform:rotate(45deg);
    }
}
@media screen and (min-width:796px){
    .social-icons{
        left:10rem;
    }
    .social-icons::after{
        content:"";
        bottom:-8px;
        left:72%;
    }
}
@media screen and (min-width:992px){
    .social-icons{
        left:14rem;
    }
    .social-icons::after{
        content:"";
        bottom:-8px;
        left:46%;
    }
}
.social-icons__text{
    margin-left:2.4em;
    text-transform: uppercase;
    letter-spacing: .4em;
    color:var(--grayishblue);
    font-weight: 700;
}
.social-icons__link{
    margin-left:1.4em;
}
.social-icons--translate{
    transform: translateX(0);
}
.social-icons--visible{
    visibility:visible;
}
